.mompage4 {
    .momFour {
        position: relative;
        .down {
            position: absolute;
            bottom: 9%;
            left: 50%;
            transform: translateX(-55%);
            width: clamp(105px, 22vw, 330px);
            height: clamp(25px, 5vw, 60px);
            border-radius: 30px;
            cursor: pointer;
            // background: rgba(240, 128, 128, 0.636);
        }
        .toOpen {
            position: absolute;
            bottom: 10.5%;
            right: 8%;
            width: clamp(50px, 14vw, 210px);
            height: clamp(20px, 5vw, 65px);
            border-radius: 30px;
            cursor: pointer;
            // background: rgba(240, 128, 128, 0.636);
        }
    }
    .marginB {
        margin-bottom: -20px;
    }
    .expandUp {
        opacity: 0;
        height: 0;
        visibility: hidden;
        background-color: transparent;
        transition: all 0.6s ease-in;
    }
    .expandDown {
        opacity: 1;
        height: 300vw;
        visibility: visible;
        transition: all 0.6s ease-in;
        background-color: rgba(0, 0, 0, 0.1);
    }
}
