@mixin ipad {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin iphone {
    @media (max-width: 568px) {
        @content;
    }
}
@mixin scrollbar {
    overflow: auto;
    &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #ffffff00;
        //   border-radius: 3px;
    }
}

.mt {
    margin-top: 50px;
}
.two {
    a {
        position: absolute;
        background: black;
        opacity: 0;
        cursor: pointer;

        &:nth-child(2) {
            width: 49.9%;
            height: 34%;
            top: 12.2%;
            left: 0%;
        }

        &:nth-child(3) {
            width: 50%;
            height: 34%;
            top: 12.2%;
            left: 50.3%;
        }
        &:nth-child(4) {
            width: 50%;
            height: 26.7%;
            top: 46.5%;
            left: 0%;
        }
        &:nth-child(5) {
            width: 50%;
            height: 26.7%;
            top: 46.5%;
            left: 50.3%;
        }
        &:nth-child(6) {
            width: 50%;
            height: 26%;
            top: 73.5%;
            left: 0%;
        }
        &:nth-child(7) {
            width: 50%;
            height: 26%;
            top: 73.5%;
            left: 50.3%;
        }
    }
}

.three {
    a {
        position: absolute;
        background: black;
        opacity: 0;
        cursor: pointer;

        &:nth-of-type(1) {
            width: 10.8%;
            height: 2.7%;
            top: 45.2%;
            left: 20.7%;
            border-radius: 25px;
        }

        &:nth-of-type(2) {
            width: 10.8%;
            height: 2.7%;
            top: 45.2%;
            left: 69%;
            border-radius: 25px;
        }
        &:nth-of-type(3) {
            width: 10.8%;
            height: 2.7%;
            top: 91.4%;
            left: 20.7%;
            border-radius: 25px;
        }
        &:nth-of-type(4) {
            width: 10.8%;
            height: 2.7%;
            top: 91.4%;
            left: 62.5%;
            border-radius: 25px;
        }
        &:nth-of-type(5) {
            width: 12.4%;
            height: 2.7%;
            top: 91.4%;
            left: 76.2%;
            border-radius: 25px;
        }
    }
}

.four {
    a {
        position: absolute;
        background: black;
        opacity: 0;
        cursor: pointer;

        &:nth-of-type(1) {
            width: 16.8%;
            height: 5%;
            top: 46%;
            left: 52.3%;
            border-radius: 45px;
        }
        &:nth-of-type(2) {
            width: 29.3%;
            height: 10%;
            bottom: 18%;
            left: 3%;
            border-radius: 45px;
        }
        &:nth-of-type(3) {
            width: 29.3%;
            height: 10%;
            bottom: 18%;
            left: 35.4%;
            border-radius: 45px;
        }
        &:nth-of-type(4) {
            width: 43%;
            height: 9%;
            bottom: 6.3%;
            left: 28.5%;
            border-radius: 45px;
        }
    }
}

.imageContainer {
    width: 100vw;
    position: relative;
    .five {
        height: 100vh;
    }
    nav {
        position: absolute;
        // transition: all 0.4s;
        cursor: pointer;

        &:nth-child(2) {
            width: 20%;
            top: 36%;
            left: 40%;
            z-index: 3;
        }
        &:nth-child(3) {
            width: 24%;
            top: 32%;
            left: 17%;
        }
        &:nth-child(4) {
            width: 24%;
            top: 50.3%;
            left: 20%;
        }
        &:nth-child(5) {
            width: 24%;
            top: 43%;
            right: 19%;
        }
        &:hover:not(:nth-child(2)) {
            transform: scale(1.2);
        }
    }

    .fiveCon {
        display: flex;
        justify-content: center;
        .title {
            position: absolute;
            height: 6vw;
            max-width: 60%;
            width: 100%;
            top: 5%;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            background: RGB(41, 60, 96);
            border-radius: 13cm;
            color: white;
            h2 {
                font-size: 3vw;
            }
        }
        .cow {
            position: absolute;
            top: -70%;
            left: -13%;
            width: 30%;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .position {
        position: absolute;
        @media only screen and (max-width: 576px) {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            top: 80px;
            .left {
                width: 90%;
            }
            .right {
                margin-top: 0%;
                width: 90%;
            }
        }
        @media only screen and (min-width: 576px) {
            display: flex;
            justify-content: center;
            top: 220px;

            .left {
                width: 45%;
                margin-left: 5%;
            }
            .right {
                margin-top: 3%;
                width: 45%;
                margin-right: 5%;
            }
        }

        width: 100%;

        .pointBox {
            width: 80%;
            background: rgb(41, 60, 96);
            color: white;
            border-radius: 20px;
            padding: 10px 4%;
            margin-top: 10px;
            .text {
                color: white;
                font-size: 2vw;
                margin-bottom: 8px;
                white-space: nowrap;
            }
            .containBox {
                display: block;
                color: black;
                width: 100%;
                margin: auto;
                background: rgb(254, 222, 139);
                border-radius: 25px;
                height: 25px;
                overflow-y: hidden;
                transition: all 0.4s ease-in;
                @include scrollbar;

                .icon {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all 0.5s ease-in;
                    color: #aa6e00;
                }
                p {
                    padding: 2%;
                    font-size: clamp(16px, 1.3vw, 2vw);
                }
            }
            & .containBox:hover {
                height: 250px;
                transition: all 0.5s ease-in;
            }
        }
    }
}

.container {
    width: 100%;
    overflow: hidden;
    scroll-behavior: smooth;

    .fixed {
        position: fixed;
        display: flex;
        flex-direction: column;
        transition: all 0.8s;
        right: 0%;
        top: 50%;
        @media only screen and (max-width: 576px) {
            width: 15%;
        }
        @media only screen and (min-width: 576px) {
            width: 6%;
        }

        transform: translate(0%, -50%);
        align-items: center;
        z-index: 5;
        border-radius: 60px 60px 60px 60px;
        margin-right: 10px;
        background: -webkit-linear-gradient(299deg, #dfa43c, #9d551c);
        box-shadow: #653e05 4px 5px;
        &.fixedActive {
            right: -20%;
        }

        .fixedItem {
            width: 100%;
            letter-spacing: -1px;
            height: 48px;
            font-size: clamp(12px, 1vw, 2vw);
            text-align: center;
            // background: rgba(0, 0, 0, 0.5);
            border-top: 1px solid white;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            color: white;

            @include ipad {
                width: 60px;
            }

            @include iphone {
                width: 50px;
            }

            &.active,
            &:hover:not(:first-child) {
                background: #9f571d;
                width: 130%;
            }

            &:not(:last-child) {
                margin-top: 1px;
            }

            &:first-child {
                height: 50px;
                border-radius: 60px 60px 0px 0px;
                text-align: center;
                font-size: clamp(16px, 1.5vw, 2vw);
                @include ipad {
                    height: 40px;
                }
                padding-top: 20%;
            }
            &:last-child {
                height: 60px;
                border-radius: 0px 0px 60px 60px;

                @include ipad {
                    height: 40px;
                }
            }
        }

        .top {
            width: 50px;
            height: 50px;
            cursor: pointer;
            position: absolute;
            top: -20px;

            @include ipad {
                width: 60px;
                height: 48px;
            }

            @include iphone {
                width: 50px;
                height: 40px;
            }
        }
    }

    .fixed2 {
        cursor: pointer;
        position: fixed;
        right: 0%;
        top: 40%;
        transform: translate(0%, -50%);
        width: 30px;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 10px 0px 0px 10px;
        text-align: center;
        transition: all 0.8s;
        padding: 4px;
        color: white;
        z-index: 5;

        &.fixedActive {
            right: -20%;
        }
    }
}
