@mixin ipad {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin iphone {
    @media (max-width: 568px) {
        @content;
    }
}

.mt {
    margin-top: 50px;
}

.imageContainer {
    width: 100vw;
    position: relative;

    a {
        position: absolute;
        background: black;
        opacity: 0.5;
        opacity: 0;

        &.top2href1 {
            width: 11vw;
            height: 11vw;
            top: 12%;
            left: 5.5%;
            border-radius: 50%;
        }

        &.top2href2 {
            width: 11vw;
            height: 11vw;
            top: 46%;
            left: 15.5%;
            border-radius: 50%;
        }

        &.top2href3 {
            width: 11vw;
            height: 11vw;
            top: 5%;
            left: 24.8%;
            border-radius: 50%;
        }

        &.top2href4 {
            width: 11vw;
            height: 11vw;
            top: 39%;
            left: 32.5%;
            border-radius: 50%;
        }

        &.top2href5 {
            width: 11vw;
            height: 11vw;
            top: 5%;
            left: 42.7%;
            border-radius: 50%;
        }

        &.top2href6 {
            width: 11vw;
            height: 11vw;
            top: 46.5%;
            left: 48.2%;
            border-radius: 50%;
        }

        &.top2href7 {
            width: 11vw;
            height: 11vw;
            top: 15.1%;
            left: 57.7%;
            border-radius: 50%;
        }

        &.top2href8 {
            width: 11vw;
            height: 11vw;
            top: 55%;
            left: 66.5%;
            border-radius: 50%;
        }

        &.top2href9 {
            width: 11vw;
            height: 11vw;
            top: 11%;
            left: 73%;
            border-radius: 50%;
        }

        &.href1 {
            width: 27vw;
            height: 4vw;
            top: 85%;
            left: 35%;
        }

        &.href2 {
            width: 20vw;
            height: 4.4vw;
            top: 13.8%;
            left: 40%;
        }

        &.href3 {
            width: 20.2vw;
            height: 4.4vw;
            top: 6.15%;
            left: 40%;
        }

        &.href4 {
            width: 32.6vw;
            height: 7vw;
            top: 47.85%;
            left: 34%;
        }

        &.href5 {
            width: 32.6vw;
            height: 7vw;
            top: 56.3%;
            left: 34%;
        }

        &.href6 {
            width: 32.7vw;
            height: 7vw;
            top: 78.56%;
            left: 29.8%;
        }

        &.href7 {
            width: 32.7vw;
            height: 7vw;
            top: 78.56%;
            left: 65%;
        }
    }
}

.getPoint {
    & div:nth-child(2) {
        position: absolute;
        background-color: black;
        width: 50%;
        height: 35%;
        top: 12%;
        opacity: 0.5;
    }
}

.container {
    width: 100%;
    overflow: hidden;
    scroll-behavior: smooth;

    .snowBox {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        z-index: 10;
        // opacity: .5;
        pointer-events: none;
        animation: 12s snow_moving linear forwards infinite;
        transform: translateY(-100%);
        &:nth-child(2) {
            animation-delay: 6s;
        }
        @keyframes snow_moving {
            0% {
                transform: translateY(-100%);
            }

            100% {
                transform: translateY(100%);
            }
        }

        .snowflake {
            position: absolute;
            width: 6px;
            height: 6px;
            background: rgba(255, 255, 255, 0.7);
            border-radius: 50%;
            top: 0;
            left: 0;
            animation: 5s flake_moving linear forwards infinite;

            &:nth-of-type(2n) {
                animation-delay: 2.5s;
            }

            &.big {
                width: 10px;
                height: 10px;
            }

            @keyframes flake_moving {
                0% {
                    transform: translateX(0%);
                }

                50% {
                    transform: translateX(-500%);
                }

                100% {
                    transform: translateX(0%);
                }
            }
        }
    }

    .fixed {
        position: fixed;
        display: flex;
        flex-direction: column;
        right: 0%;
        top: 50%;
        width: 100px;
        transform: translate(0%, -50%);
        transition: 1s;
        align-items: center;
        z-index: 5;
        border-radius: 60px 60px 60px 60px;
        margin-right: 10px;
        background: -webkit-linear-gradient(299deg, #dfa43c, #9d551c);
        box-shadow: #653e05 4px 5px;
        &.fixedActive {
            right: -20%;
        }

        .fixedItem {
            width: 100px;
            letter-spacing: -1px;
            height: 48px;

            // background: rgba(0, 0, 0, 0.5);
            border-top: 1px solid white;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: 0.5s;
            color: white;

            @include ipad {
                width: 60px;
            }

            @include iphone {
                width: 50px;
            }

            &.active,
            &:hover {
                background: #9f571d;
                width: 120px;
            }

            &:not(:last-child) {
                margin-top: 1px;
            }

            &:first-child {
                height: 60px;
                border-radius: 60px 60px 0px 0px;
                text-align: center;
                @include ipad {
                    height: 40px;
                }
            }
            &:last-child {
                height: 60px;
                border-radius: 0px 0px 60px 60px;

                @include ipad {
                    height: 40px;
                }
            }
        }

        .top {
            width: 50px;
            height: 50px;
            cursor: pointer;
            position: absolute;
            top: -20px;

            @include ipad {
                width: 60px;
                height: 48px;
            }

            @include iphone {
                width: 50px;
                height: 40px;
            }
        }
    }

    .fixed2 {
        cursor: pointer;
        position: fixed;
        right: 0%;
        top: 40%;
        transform: translate(0%, -50%);
        width: 30px;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 10px 0px 0px 10px;
        text-align: center;
        padding: 4px;
        color: white;
        transition: 1s;
        z-index: 5;

        &.fixedActive {
            right: -20%;
        }
    }

    .pointBox {
        background-color: rgb(38, 71, 143);
        border-radius: 20px 20px;
        margin: 10% auto;
        padding: 15px;
        width: 400px;

        .text {
            color: white;
        }
        .containBox {
            background-color: rgb(234, 189, 122);
            border-radius: 30px 30px;
            height: 30px;
            margin-top: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        & .containBox:hover {
            height: 300px;
            transition: all 0.4s cubic-bezier(0.6, -0.28, 0.735, 0.045);
            // transition: all .4s ease-in;
        }
    }
}
