html {
    scroll-behavior: smooth;
}
.page6 {
    position: relative;

    .onePage {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #f6c896;
        padding-top: 45px;

        .click {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content:space-evenly ;
            .clickBtn {
                width: clamp(180px, 28vw, 370px);
                height: clamp(25px, 4vw, 60px);
                font-size: clamp(16px, 2vw, 30px);
                font-weight: 600;
                border-radius: 60px;
                text-align: center;
                line-height: clamp(25px, 4vw, 60px);
                cursor: pointer;
                z-index: 10;
                background: #d76b29;
                margin: 0 0px 10px;
            }
            // .clickB {
            //     width: clamp(110px, 25vw, 370px);
            //     cursor: pointer;
            //     z-index: 10;
            // }
        }
    }
    .twoTo {
        position: relative;
        .to {
            position: absolute;
            cursor: pointer;
            bottom: 7.8%;
            left: 50%;
            transform: translateX(-42%);
            width: clamp(100px, 20vw, 295px);
            height: clamp(25px, 4.5vw, 60px);
            border-radius: 30px;
            // background: rgba(240, 128, 128, 0.595);
        }
    }
    .three {
        position: absolute;
        bottom: 26%;
    }
}
