// html {
//     scroll-behavior: smooth;
// }
.page6 {
    position: relative;

    .onePage {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #f6c896;
        padding-top: 45px;

        .click {
            display: flex;
            align-items: center;
            .clickBtn {
                width: clamp(100px, 23vw, 330px);
                margin: 0 15px;
                cursor: pointer;
                z-index: 10;
            }
        }
    }
    .twoTo {
        position: relative;
        .to {
            position: absolute;
            cursor: pointer;
            bottom: 7.8%;
            left: 50%;
            transform: translateX(-42%);
            width: clamp(100px, 20vw, 295px);
            height: clamp(25px, 4.5vw, 60px);
            border-radius: 30px;
            // background: rgba(240, 128, 128, 0.595);
        }
    }
    .three {
        position: absolute;
        bottom: 26%;
    }
}