html {
    scroll-behavior: smooth;
}

.page6 {
    position: relative;
    .onePage {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #f6c896;
        padding-top: 45px;
        .click {
            display: flex;
            align-items: center;
            .clickBtn {
                width: 330px;
                margin: 0 15px;
                cursor: pointer;
                z-index: 10;
            }
        }
    }
    .three {
        position: absolute;
        bottom: 26%;
    }
}

@media screen and (max-width: 1200px) {
    .page6 {
        .onePage {
            .click {
                .clickBtn {
                    width: 240px;
                    margin: 0 15px;
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .page6 {
        .onePage {
            .click {
                .clickBtn {
                    width: 160px;
                    margin: 0 15px;
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .page6 {
        .onePage {
            .click {
                .clickBtn {
                    width: 100px;
                }
            }
        }
    }
}
