.page5 {
    position: relative;
    background: #c9dcbf;
    .page-01 {
        position: relative;
        margin-bottom: -20px;
        .link1 {
            position: absolute;
            bottom: 21%;
            right: 18.5%;
            width: clamp(56px, 15vw, 228px);
            height: clamp(16px, 3.5vw, 48px);
            border-radius: 30px;
            // background: rgba(240, 128, 128, 0.571);
        }
        .link2 {
            position: absolute;
            bottom: 16.5%;
            right: 18.5%;
            width: clamp(56px, 15vw, 228px);
            height: clamp(16px, 3.5vw, 48px);
            border-radius: 30px;
            // background: rgba(163, 128, 240, 0.571);
        }
        .link3 {
            position: absolute;
            bottom: 12%;
            right: 18.5%;
            width: clamp(56px, 15vw, 228px);
            height: clamp(16px, 3.5vw, 48px);
            border-radius: 30px;
            // background: rgba(240, 128, 158, 0.571);
        }
        .clicked {
            position: absolute;
            bottom: 8%;
            left: 50%;
            transform: translateX(-47%);
            width: clamp(110px, 20vw, 290px);
            height: clamp(20px, 4.5vw, 60px);
            // background: rgba(240, 128, 128, 0.504);
            border-radius: 30px;
            cursor: pointer;
            transition: height 0.6s ease;
        }
    }
    .marB {
        margin-bottom: -50px;
    }
    .page-02 {
        position: relative;
        .linkOne {
            position: absolute;
            bottom: 25.5%;
            right: 61.5%;
            width: clamp(56px, 15vw, 228px);
            height: clamp(18px, 3.5vw, 48px);
            border-radius: 30px;
            // background: rgba(240, 128, 128, 0.571);
        }
        .linkTwo {
            position: absolute;
            bottom: 25.5%;
            right: 44.5%;
            width: clamp(56px, 15vw, 228px);
            height: clamp(16px, 3.5vw, 48px);
            border-radius: 30px;
            // background: rgba(163, 128, 240, 0.571);
        }
        .linkThr {
            position: absolute;
            bottom: 25.5%;
            right: 27.4%;
            width: clamp(56px, 15vw, 228px);
            height: clamp(16px, 3.5vw, 48px);
            border-radius: 30px;
            // background: rgba(240, 128, 158, 0.571);
        }
    }
    .up {
        opacity: 0;
        height: 0;
        visibility: hidden;
        background-color: transparent;
        transition: all 0.6s ease-in;
    }
    .down {
        opacity: 1;
        height: 170vw;
        visibility: visible;
        transition: all 0.6s ease-in;
        background-color: rgba(0, 0, 0, 0.1);
    }
}
