// html {
//     scroll-behavior: smooth;
// }

.page4 {
    position: relative;
    .onePage {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 35px;
        background: #3683cb;
        .title {
            position: relative;
            font-size: clamp(20px, 3.5vw, 48px);
            font-weight: 600;
            color: #fff;
            &::before {
                position: absolute;
                content: '';
                width: 345px;
                height: 35px;
                border-top: 3px solid #fff;
                border-left: 3px solid #fff;
                top: 50%;
                right: 103%;
            }
            &::after {
                position: absolute;
                content: '';
                width: 345px;
                height: 35px;
                border-top: 3px solid #fff;
                border-right: 3px solid #fff;
                top: 50%;
                left: 103%;
            }
        }
        .click {
            display: flex;
            align-items: center;
            margin-top: 30px;
            .clickBtn {
                background: #c9dcbf;
                border-radius: 100px;
                width: 320px;
                height: 60px;
                margin: 0 15px;
                cursor: pointer;
                z-index: 10;
            }
        }
    }

    .one1 {
        position: relative;
        .one {
            background: #3683cb;
        }
        .link-1 {
            position: absolute;
            width: clamp(66px, 14vw, 203px);
            height: clamp(20px, 4.5vw, 68px);
            border-radius: 30px;
            // background: rgba(42, 8, 238, 0.729);
            bottom: 9.5%;
            right: 12%;
        }
    }
    .one2 {
        position: relative;
        .two {
            background: #5fba55;
        }
        .link-2 {
            position: absolute;
            width: clamp(66px, 14vw, 203px);
            height: clamp(20px, 4.5vw, 68px);
            border-radius: 30px;
            // background: rgba(42, 8, 238, 0.729);
            bottom: 12%;
            right: 19.8%;
        }
    }
    .one3 {
        position: relative;
        .three {
            background: #52b2d5;
        }
        .link-3 {
            position: absolute;
            width: clamp(66px, 14vw, 203px);
            height: clamp(20px, 4.5vw, 68px);
            border-radius: 30px;
            // background: rgba(42, 8, 238, 0.729);
            bottom: 9.5%;
            right: 19.8%;
        }
    }
}

@media screen and (max-width: 1200px) {
    .page4 {
        .onePage {
            .title {
                &::before {
                    width: 270px;
                    border-top: 2px solid #fff;
                    border-left: 2px solid #fff;
                }
                &::after {
                    width: 270px;
                    border-top: 2px solid #fff;
                    border-right: 2px solid #fff;
                }
            }
            .click {
                .clickBtn {
                    width: 240px;
                    height: 55px;
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .page4 {
        .onePage {
            .title {
                &::before {
                    width: 100px;
                    height: 25px;
                }
                &::after {
                    width: 100px;
                    height: 25px;
                }
            }
            .click {
                margin-top: 20px;
                .clickBtn {
                    width: 100px;
                    height: 25px;
                    margin: 0 10px;
                }
            }
        }
    }
}
