.page4 {
    // position: relative;
    .onePage {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 35px;
        background: #3683cb;
        position: relative;
        
        .click {
            max-width: 90%;
            margin-bottom: 5px;
        }
        .clickBtn-1 {
            position: absolute;
            top: 61%;
            left: 8%;
            width: clamp(100px, 26vw, 390px);
            height: clamp(30px, 6vw, 90px);
            border-radius: 50px;
            // background: rgba(240, 128, 128, 0.616);
        }
        .clickBtn-2 {
            position: absolute;
            top: 61%;
            left: 37%;
            width: clamp(100px, 26vw, 390px);
            height: clamp(30px, 6vw, 90px);
            border-radius: 50px;
            // background: rgba(128, 240, 173, 0.616);
        }
        .clickBtn-3 {
            position: absolute;
            top: 61%;
            left: 66%;
            width: clamp(100px, 26vw, 390px);
            height: clamp(30px, 6vw, 90px);
            border-radius: 50px;
            // background: rgba(240, 128, 128, 0.616);
        }
    }

    .scrollBar {
        // background: #3683cb;
        display: flex;
        justify-content: center;
        align-items: center;
        .scroll {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: fixed;
            z-index: 30;
            // background: lightcoral;
            width: 85%;
            top: 2px;
            .scroll-1,
            .scroll-2,
            .scroll-3 {
                // background: #eee;
                border-radius: 100px;
                width: clamp(90px, 26vw, 320px);
                height: clamp(18px, 5vw, 60px);
            }
            .nowClick {
                background: #eee;
                border-radius: 100px;
                width: clamp(90px, 26vw, 320px);
                height: clamp(18px, 5vw, 60px);
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover {
                    background: rgb(251, 235, 78);
                }
            }
            .onClick {
                border-radius: 100px;
                background: rgb(251, 235, 78);
              
            }
        }
    }

    .one1 {
        position: relative;
        .one {
            background: #3683cb;
        }
        .link-1 {
            position: absolute;
            width: clamp(66px, 14vw, 203px);
            height: clamp(20px, 4.5vw, 68px);
            border-radius: 30px;
            // background: rgba(42, 8, 238, 0.729);
            bottom: 9.5%;
            right: 12%;
        }
    }
    .one2 {
        position: relative;
        .two {
            background: #5fba55;
        }
        .link-2 {
            position: absolute;
            width: clamp(66px, 14vw, 203px);
            height: clamp(20px, 4.5vw, 68px);
            border-radius: 30px;
            // background: rgba(42, 8, 238, 0.729);
            bottom: 12%;
            right: 19.8%;
        }
    }
    .one3 {
        position: relative;
        .three {
            background: #52b2d5;
        }
        .link-3 {
            position: absolute;
            width: clamp(66px, 14vw, 203px);
            height: clamp(20px, 4.5vw, 68px);
            border-radius: 30px;
            // background: rgba(42, 8, 238, 0.729);
            bottom: 9.5%;
            right: 19.8%;
        }
    }
}

